:root {
    --color-1: #0A122A;
    --color-2: #698f3f;
    --color-3: #fbfaf8;
    --color-4: #E7DECD;
  }


* {
    font-family: Verdana, sans-serif;
  }

  body {
    background-color: var(--color-1);
    margin: 0;
    color: var(--color-4);
  }

  #maintenance {
    background-color: var(--color-1);
    color: var(--color-4);
    margin: auto;
    width: 50%;
    font-size: 2em;
    text-align: center;
  }

  #navigation {
    width: 80%;
    margin: auto;
    background-color: var(--color-1);
    border-bottom-style: ridge;
    border-radius: 0px 0px 20px 20px;
    border-color: var(--color-2);
  }

  #navigation ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
  }
  
  #navigation li {
    display: inline;
    font-size: 1.25em;
    padding: 1em;
  }

  #navigation a {
    text-decoration: none;
    color: var(--color-4);
  }

  .banner {
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-top: 5%;
  }

  .banner img {
    border-color: var(--color-2);
    border-style: solid;
    border-width: 0.25em;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
  }

  .banner h3 {
    font-size: 1.5em;
  }

.content {
  width: 100%;
}

.fa {
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 0.5em;
}

.fa-github {
  background: white;
  color: black;
  padding: 0.5em;
}

.fa-envelope {
  background: white;
  color: black;
  padding: 0.5em;
}


#bio {
  color: var(--color-1);
  border-radius: 25px 0px 0px 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--color-4);
  position: relative;
  width: 80%;
  left: 20%;
  text-align: left;
}

#bio p {
  padding: 2em;
}

#skills {
  color: var(--color-1);
  border-radius: 0px 25px 25px 0px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--color-4);
  position: relative;
  width: 80%;
  right: 20%;
  text-align: right;
}

#skills p {
  padding: 2em;
}

#projects {
  color: var(--color-1);
  border-radius: 25px 0px 0px 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--color-4);
  position: relative;
  width: 80%;
  left: 20%;
  text-align: left;
}

#projects p {
  padding: 2em;
}

#testimonials {
  color: var(--color-1);
  border-radius: 0px 25px 25px 0px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--color-4);
  position: relative;
  width: 80%;
  right: 20%;
  text-align: right;
}

#testimonials p {
  padding: 2em;
}
  