:root {
    --color-1: #0A122A;
    --color-2: #fbfaf8;
    --color-3: #698f3f;
    --color-4: #E7DECD;
  }


* {
    font-family: Verdana, sans-serif;
  }

  body {
    background-color: var(--color-1);
    margin: 0;
    color: var(--color-4);
  }

  #maintenance {
    background-color: var(--color-1);
    color: var(--color-4);
    margin: auto;
    width: 50%;
    font-size: 2em;
    text-align: center;
  }

  #navigation {
    width: 80%;
    margin: auto;
    background-color: var(--color-1);
    border-bottom-style: ridge;
    border-radius: 0px 0px 20px 20px;
    border-color: var(--color-2);
  }

  #navigation ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
  }
  
  #navigation li {
    display: inline;
    font-size: 1.25em;
    padding: 1em;
  }

  #navigation a {
    text-decoration: none;
    color: var(--color-4);
  }

  .banner {
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-top: 5%;
  }

  .banner img {
    border-color: var(--color-2);
    border-style: solid;
    border-width: 0.25em;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
  }

  .banner h3 {
    font-size: 1.5em;
  }

.content {
  width: 100%;
}

.fa {
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 0.5em;
}

.fa-github {
  background: white;
  color: black;
  padding: 0.5em;
}

.fa-envelope {
  background: white;
  color: black;
  padding: 0.5em;
}

.fa-python {
  background: white;
  color: black;
  padding: 1em;
}

.material-icons {
  padding: 0.25em;
}

#bio {
  color: var(--color-1);
  border-radius: 25px 0px 0px 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--color-4);
  position: relative;
  width: 80%;
  left: 20%;
  text-align: left;
}

#bio p {
  padding: 2em;
}

#techstack {
  color: var(--color-1);
  border-radius: 0px 25px 25px 0px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0;
  background-color: var(--color-4);
  position: relative;
  width: 80%;
  right: 20%;
  text-align: right;
}

#techstack p {
  padding: 1em;
}

#tech_logos {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  background-color: var(--color-4);

}

#tech_logos img {
  width: 50%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  color: var(--color-1);
  border-radius: 25px 0px 0px 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--color-4);
  position: relative;
  width: 80%;
  left: 20%;
  text-align: left;
}

#projects h2 {
  padding: 0.5em;
}

#project-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  text-align: center;
}

/* Basic Card Styling */
.project-card {
  border: 1px solid var(--color-2);
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
  cursor: pointer; /* Indicate clickable */
  box-shadow: 5px 10px var(--color-2);
}

/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--color-1);
  color: var(--color-4);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--color-2);
  border-radius: 25px;
  width: 80%; /* Could be more or less */
  max-height: 80vh; /* Limit the max height */
  overflow-y: auto; /* Add vertical scroll */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal img {
    max-width: 100%;
    height: auto;
}

#testimonials {
  color: var(--color-1);
  border-radius: 0px 25px 25px 0px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--color-4);
  position: relative;
  width: 80%;
  right: 20%;
  text-align: right;
}

#testimonials p {
  padding: 2em;
}
  